{% extends 'base.html.twig' %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 content register">
                <div class="form-container">
                    {{ form_start(registrationForm, {
                        attr: { class: 'form-signin'}
                    })}}
                    <h1 class="h3 font-weight-normal">Please register!</h1>
                    <p>Please enter your email.</p>
                    {{ form_widget(registrationForm.email, { 'attr': {'placeholder': 'Email'}}) }}
                    <p>Please enter your password.</p>
                    {{ form_widget(registrationForm.plainPassword, { 'attr': {'placeholder': 'Password'}}) }}
                    <div class="button-group">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Register
                        </button>
                        <a href="{{ "/" }}" class="btn btn-lg btn-secondary">Go Back</a>
                    </div>

                    {{ form_end(registrationForm)}}
                </div>
            </div>
        </div>
    </main>
{#    <main class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-6 col-sm-12 content login">#}
{#                <form method="post">#}
{#                    <h1 class="h3 mb-3 font-weight-normal">Please register!</h1>#}
{#                    <label for="inputEmail" class="form-label">Please Enter Email</label>#}
{#                    <input type="email"  name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>#}
{#                    <label for="inputPassword" class="form-label">Please Enter Password</label>#}
{#                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}

{#                    <button class="btn btn-lg btn-primary m-2 w-25" type="submit">#}
{#                        Register#}
{#                    </button>#}
{#                    <a href="{{ "/" }}" class="btn btn-lg btn-secondary m-2 w-25">Go Back</a>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </main>#}
{% endblock %}

