{% extends 'base.html.twig' %}

{% block title %}Acme Cards{% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div class="container-fluid card-container">
        <h1>Card Order</h1>
        <div class="container card-content-container">
            <div class="row">
                <div class="col-sm-4 box sidebar" style="background-color: red;">
                    <a href="{{ "order" }}" class="btn btn-lg btn-primary">View Orders</a>
                    <a href="/" class="btn btn-lg btn-primary">Log Out</a>
                </div>
                <div class="col-sm-8 box form-container">
                    <p>Please enter your card information below.</p>

                    {{ form_start(addToOrder) }}
                    {{ form_widget(addToOrder) }}
                    <button class="btn btn-primary" type="submit">
                        Save
                    </button>
{#                    <button class="btn btn-primary" >#}
{#                        Clear#}
{#                    </button>#}
                    {{ form_end(addToOrder) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

